<div>
    <h2>Liste des fichiers disponibles</h2>
    <h2 class="conx" routerLink="/login">Connexion</h2>
    <table>
      <thead>
        <tr>
          <th>Nom du fichier</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files">
          <td>{{ file.fileName }}</td>
        <td>
          <button (click)="downloadFile(file.fileName)" class="btn btn-primary">Afficher</button>
          <!-- <button (click)="openDocument('Lettre_affectation-DSI3_Iheb Deruich.pdf')">Ouvrir le PDF</button> -->
          </td>
        </tr>
      </tbody>
    </table>
    <div>
    <input type="file" accept=".pdf, .xlsx, .xls, .doc, .docx, .csv"(change)="onFileSelected($event)" />
    <button (click)="uploadFile()" [disabled]="!selectedFile">Envoyer</button>
  </div>  

  <div *ngIf="pdfUrl" class="pdf-container">
    <h3>Aperçu du fichier :</h3>
    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
  </div>
</div>

  



  <div *ngIf="pdfSrc">
    <pdf-viewer 
      [src]="pdfSrc" 
      [render-text]="true" 
      style="display: block; width: 100%; height: 600px;">
    </pdf-viewer>
  